body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    background-color: #07305d;
    background-image: url('../assets/imagen.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del texto */
  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: top 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo img {
  width: 80px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.content {
  padding-top: 80px;
  padding: 20px;
  background-color: #f0f0f0;
  height: 1500px;
}